h1{
    color: navy;
    text-align: center;
}
body {
    background: lightgray;
    color: rgba(85, 104, 128, 0.84);
    font-size: 14pt;
    font-family: 'Noto Serif SC', serif;
    text-align:center;
}
h2{
    color:whitesmoke;
}
h3{
    color: rgba(85, 104, 128, 0.84);
    font-style: italic;
}
nav a{
    display:inline-block;
    border: 2px dotted navy;
    padding: 10px;
    margin: 5px;
    background: whitesmoke;
}
a{
    color: navy;
    text-decoration: none;
}
a:hover{
    color: lightcoral;
}

p{
    text-align: center;
}
ul{
    text-align: center;
}
h3{text-align: center;
}